<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=anv, initial-scale=1.0" />
    <title>Home Page</title>


    <link rel="stylesheet" href="../style/style.css" />
</head>

<body>
    <nav>
        <div class="menu">
            <div class="logo">
                <a href="/">Web Forum</a>
            </div>
            <%- include('layouts/menu', {ses : session}) %>
        </div>
    </nav>

    <div class="container">
        <!---------------------------------Line Between Thread------------------------------------------------------------------------->
        <!--Start of Thread-->
        <div class="subforum">
            <div class="subforum-title">
                <h1>General Information: <a href="#">Batam Island</a></h1>
            </div>
            <div class="subforum-row">
                <!--^Start of Post^-->
                <!--Sort what number post are-->
                <div class="subforum-number subforum-column center">1</div>
                <div class="subforum-description subforum-column">
                    <!--Link for the post to be click-->
                    <h1><a href="#">Description Tittle : </a>Nagoya Discrict</h1>
                    <!--Description that User input-->
                    <p>
                        Description Content : Just Say The word and Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                    </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <!-- Number of comments-->
                    <span>50 Replies</span>
                </div>
                <div class="subforum-info subforum-column">
                    <!--What date of the post and wich User Posted-->
                    <b><a href="#">Posted</a> By <a href="#">User_Name</a></b>
                    <br />
                    on <small>15 June 2022</small>
                </div>
            </div>
            <!-- ^End of the line post^-->
            <!--This is the for between Post -->

            <div class="subforum-row">
                <!--^Start of Post^-->
                <!--Sort what number post are-->
                <div class="subforum-number subforum-column center">1</div>
                <div class="subforum-description subforum-column">
                    <!--Link for the post to be click-->
                    <h1><a href="#">Description Tittle : </a>Jodoh Discrict</h1>
                    <!--Description that User input-->
                    <p>
                        Description Content : Just Say The word and Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                    </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <!-- Number of comments-->
                    <span>30 Comments</span>
                </div>
                <div class="subforum-info subforum-column">
                    <!--What date of the post and wich User Posted-->
                    <b><a href="#">Posted</a> By <a href="#">User_Name</a></b>
                    <br />
                    on <small>15 June 2022</small>
                </div>
            </div>
            <!-- ^End of the line post^-->
            <!--This is the for between Post -->
            <div class="subforum-row">
                <!--^Start of Post^-->
                <!--Sort what number post are-->
                <div class="subforum-number subforum-column center">1</div>
                <div class="subforum-description subforum-column">
                    <!--Link for the post to be click-->
                    <h1><a href="#">Description Tittle : </a>Batam Center Discrict</h1>
                    <!--Description that User input-->
                    <p>
                        Description Content : Just Say The word and Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                    </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <!-- Number of comments-->
                    <span>15 Comments</span>
                </div>
                <div class="subforum-info subforum-column">
                    <!--What date of the post and wich User Posted-->
                    <b><a href="#">Posted</a> By <a href="#">User_Name</a></b>
                    <br />
                    on <small>10 June 2022</small>
                </div>
            </div>
            <!-- ^End of the line post^-->
            <!--This is the for between Post -->
        </div>
        <!--This is the end of Thread-->
        <!---------------------------------Line Between Thread------------------------------------------------------------------------->
        <!--Start of Thread-->
        <div class="subforum">
            <div class="subforum-title">
                <h1>General Information: <a href="#">Jakarta</a></h1>
            </div>
            <div class="subforum-row">
                <!--^Start of Post^-->
                <!--Sort what number post are-->
                <div class="subforum-number subforum-column center">1</div>
                <div class="subforum-description subforum-column">
                    <!--Link for the post to be click-->
                    <h1><a href="#">Description Tittle : </a>Bintaro Discrict</h1>
                    <!--Description that User input-->
                    <p>
                        Description Content : Just Say The word and Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                    </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <!-- Number of comments-->
                    <span>50 Comments</span>
                </div>
                <div class="subforum-info subforum-column">
                    <!--What date of the post and wich User Posted-->
                    <b><a href="#">Posted</a> By <a href="#">User_Name</a></b>
                    <br />
                    on <small>15 June 2022</small>
                </div>
            </div>
            <!-- ^End of the line post^-->
            <!--This is the for between Post -->

            <div class="subforum-row">
                <!--^Start of Post^-->
                <!--Sort what number post are-->
                <div class="subforum-number subforum-column center">1</div>
                <div class="subforum-description subforum-column">
                    <!--Link for the post to be click-->
                    <h1><a href="#">Description Tittle : </a>Kemang Discrict</h1>
                    <!--Description that User input-->
                    <p>
                        Description Content : Just Say The word and Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                    </p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <!-- Number of comments-->
                    <span>30 Comments</span>
                </div>
                <div class="subforum-info subforum-column">
                    <!--What date of the post and wich User Posted-->
                    <b><a href="#">Posted</a> By <a href="#">User_Name</a></b>
                    <br />
                    on <small>15 June 2022</small>
                </div>
            </div>
            <!-- ^End of the line post^-->
            <!--This is the for between Post -->
        </div>
        <!--This is the end of Thread-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>