<div class="main-sidebar sidebar-style-2">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <a href="#">Travel Forum</a>
        </div>
        <div class="sidebar-brand sidebar-brand-sm">
            <a href="#">TF</a>
        </div>
        <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li>
                <a href="/admin/dashboard" class="nav-link"><i class="fas fa-home"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Menu</li>
            <li class="dropdown">
                <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i>
                    <span>Thread</span></a>
                <ul class="dropdown-menu">
                    <li><a class="nav-link" href="/admin/thread-category">Kategori Thread</a></li>
                    <li><a class="nav-link" href="/admin/thread">Thread</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/tour-by-budget" class="nav-link"><i class="fas fa-map"></i><span>Tour By
                        Budget</span></a>
            </li>
        </ul>
    </aside>
</div>